p{
    color: white;
}
body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    width: 40%;
}

body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    width: 100%;
}


li{
    color: white;
}

a.img{
    align-content: center;
}

div{
    color: white;
}

button{
    height:40px;
    width:200px;
}
.logs{
    position: fixed;
    right: 0;
    top: 0;
}

h1{
    align-content: center;
    text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;color:#00FFFC;
    background-color:#000000;

}